<link rel="stylesheet" href="/styles/cortesAdmin.css">
<div class="nuevaLista">
    <div class="lista">
        <h2 class="title">Lista de cortes disponibles</h2>
        <button class="btn-abrir-M_AG"  onclick="modalCortes()">Agregar Corte</button>
        <ul>
            <% cortes.forEach( corte => {%>
                <li>
                    <div class="corte-precio">
                        
                        <p><%=corte.corte%></p>
                        <p>$<%=corte.precio%></p>
                    </div>
                    
                    <button type="button"
                    class="btn-abrir-M_A"
                    data-id="<%=corte._id%>"
                    data-corte="<%=corte.corte%>"
                    data-precio="<%=corte.precio%>"
                    >Actualizar</button>
                    <button type="button"
                    class="btn-abrir-M_E"
                    data-id="<%=corte._id%>"
                    data-corte="<%=corte.corte%>"
                    >Eliminar</button>
                </li>
                <% });%>
            </ul>
        </div>
        
        <div class="modal-general" id="modal-agregar">
            <div class="form-general modal-agregar" >
                <h2>Añadir corte</h2>
                <form class="formAgregarCorte" action="/admin/cortes20/addCorte20" method="POST" enctype="multipart/form-data">
                    <input type="text" name="corte" class="input" placeholder="Nombre del corte" required>
                    <input type="number" name="precio" class="input2" placeholder="Precio" required>
                    <div class="input3">
                        <p>Agregar imagen</p>
                        <input type="file" name="imagen" accept="image/*">
                    </div>
                    <button class="btnSmt" type="submit">Agregar</button>
                    <button class="cerrar"  onclick="closeCard()">Cerrar</button>
                </form>
            </div>
        </div>

        <div class="modal-general" id="modal-update">
            <div class="form-general modal-update">
            <h2>Actualizar Corte</h2>
            <form id="update-form" method="POST" enctype="multipart/form-data">
                <input type="text" name="corte" id="input-corte" class="input" placeholder="Nombre del corte">
                <input type="number" name="precio" id="input-precio" class="input2" placeholder="Precio del corte">
                <div class="input3">
                    <p>Actualizar imagen</p>
                    <input type="file" name="imagen" accept="image/*">
                </div>
                <button class="btnSmt" type="summit">Actualizar</button>
                <button class="cerrar" type="button" onclick="closeUpdateNew()">Cancelar</button>
            </form>
        </div>
    </div>

    <div class="modal-general" id="modal-delete">
        <div class="form-general modal-delete">
            <h2>Eliminar Corte</h2>
            <form id="delete-form" method="POST">
                <p id="confirm" class="p">.</p>
                <button type="summit" class="btnSmt">Eliminar</button>
                <button type="button" class="cerrar" onclick="closeDelete()">Cancelar</button>
            </form>
        </div>
    </div>

</div>

<script>
    // funciones para modal agregar
    function modalCortes() {
        document.getElementById('modal-agregar').style.display='flex';
        // console.log('opened the card');
    }
    
    function closeCard() {
        document.getElementById('modal-agregar').style.display='none';
        // console.log('closed the card');
    }
    
    // modal actualizar nuevo
    const modal_update = document.getElementById('modal-update');
    const update_form = document.getElementById('update-form');
    const input_corte = document.getElementById('input-corte');
    const input_precio = document.getElementById('input-precio');

    document.querySelectorAll('.btn-abrir-M_A').forEach(
        btn => {
            btn.addEventListener("click", ()=> {
                // console.log('Se hizo click en actualizar');
                const id = btn.dataset.id;
                const corte = btn.dataset.corte;
                const precio = btn.dataset.precio;

                input_corte.value = corte;
                input_precio.value = precio;

                update_form.action = `/admin/cortes20/editCorte20/${id}`;
                modal_update.style.display = 'flex';
            });
        }
    );

    function closeUpdateNew() {
        modal_update.style.display = 'none';
    }
    
    // funciones para modal eliminar
    const modal_delete = document.getElementById('modal-delete');
    const delete_form = document.getElementById('delete-form');
    const p_confirm = document.getElementById('confirm');

    document.querySelectorAll('.btn-abrir-M_E').forEach(
        btn => {
            btn.addEventListener('click', () => { 
                const id = btn.dataset.id;
                const corte = btn.dataset.corte;
                
                p_confirm.textContent = `¿Estas seguro de que quieres eliminar el corte ${corte}?`;
                
                delete_form.action = `/admin/cortes20/deleteCorte20/${id}`;
                modal_delete.style.display = 'flex';
                
            })
        }
    );

    function closeDelete(){
        modal_delete.style.display = 'none';
    }  
</script>